*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  background-color: #2F2F33;
  --txt-color: #E1E1E6;
  --txt-remove: #F75A68;
  --fs-app: 20px;
  --bg-tableHead: #092D38;
  --bg-even: #06181C;
  --bg-odd: rgba(6, 22, 27, .50);
  --bg-body: #000;
  --fs-input: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
}

body {
  display: flex;  
  justify-content: center;
  min-width: 112rem;
  background: var(--bg-body);
  height: 100vh;
  font-size: var(--fs-app);
}

#app {
display: flex;
flex-direction: column;
align-items: stretch;
}

header {
  display: flex;
  justify-content: center;
  max-height: 48rem;
}

.logo {
  margin-right: 29rem;
}

//screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
}

#input-search {
  font-size: var(--fs-input);
  background: var(--bg-even);
  color: #7C7C8A;
  min-width: 43rem;
  border-radius: .5rem;
  padding: 1.6rem;
  border: none;
}

.search {
  display: flex;
  gap: .8rem;
  margin: 10.7rem auto 9.5rem;
}

.search button {
  max-height: 4.8rem; 
}

button {
  border: none;
  background: none;
}

thead {
  background: var(--bg-tableHead);
}

table tr:nth-child(even) {
  background: var(--bg-even);
}

table tr:nth-child(odd) {
  background: var(--bg-odd);
}

table th, td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

table th {
  text-align: inherit;
}

.tableUser {
  display: flex;
}

.tableUser a {
  text-decoration: none;
  color: var(--txt-color);
}

.tableUser p {
  font-weight: 700;
}

.tableUser span {
  font-weight: 400;
  line-height: 160%;
}

.tableUser img {
  border-radius: 50%;
  max-width: 4.8rem;
  max-height: 4.8rem;
}

.removeUser {
  color: var(--txt-remove);
  font-weight: 700;
  font-size: 20px;
}

.noRegister{
  background: var(--bg-odd);
  width: 100%;
  border-radius: 0 0 12px 12px; 
}

.hide {
  display: none;
}