*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  background-color: #2F2F33;
  --txt-color: #E1E1E6;
  --txt-remove: #F75A68;
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
}



body {
 
}


//Homepage header properties
.search img:nth-child(1){
  margin-right: auto;
}

input {
  background: #06181C;
  color: #7C7C8A;
}

.search{
  display: flex;
  gap: .8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


//Table proiperties
theader {
  background: #043444; 
}

table tr:nth-child(even) {
  background: rgba(74, 128, 140, 1);
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

tbody img {
  border-radius: 50%;
  max-height: 5.6rem;
}

.tableUser {
  display: flex;
  flex-direction: row;
}

.removeUser{
  background: none;
  border: none;
  color: var(--txt-remove);
  font-weight: 700;
}

#app{
  display: flex;
  flex-direction: column;
  max-width: 112rem;
  max-height: 69rem;
  margin: auto;
}

td {
  margin-left: 4rem;
}