*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  background-color: #2F2F33;
  --txt-color: #E1E1E6;
  color: var(--txt-color);

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  display: flex;
}
header {
  display: flex;
  gap: 29.4rem;
  max-height: 2rem;
}

.search{
  display: flex;
  gap: .8rem;
}

input {
  background: #06181C;
  color: #7C7C8A;
}

theader {
  background: #043444;
  
}

table tr:nth-child(even) {
  background: rgba(74, 128, 140, 1);
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}
