*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  background-color: #2F2F33;
  --txt-color: #E1E1E6;
  --txt-remove: #F75A68;
  --fs-app: 20px;
  --bg-even: #06181C;
  --bg-odd: rgba(6, 22, 27, .50);
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
}

body {
  display: flex;  
  justify-content: center;
  background: #000;
  height: 100vh;
  font-size: var(--fs-app);
}


header {
  display: flex;
  justify-content: center;
  max-height: 48rem;
}

.logo {
  margin-right: 29rem;
}

//screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
}

#input-search {
  background: #06181C;
  color: #7C7C8A;
  min-width: 43rem;
}

.search {
  display: flex;
  gap: .8rem;
  margin: 10.7rem auto 9.5rem;
}

.search button {
  max-height: 48px; 
}

button {
  border: none;
  background: none;
}




/* 
//Homepage header properties
.search img:nth-child(1){
  margin-right: auto;
}

.search{
  display: flex;
  gap: .8rem;
  margin: 10.7rem auto 9.5rem;
  
}

.search img {
  margin-right: 29.4rem;
}

.search button {
  
}




//Table proiperties

table tr:first-child() {
  background: #043444; 
}

table tr:nth-child(even) {
  background: var(--bg-even);
}

table tr:nth-child(odd) {
  background: var(--bg-odd);
}

tbody img {
  border-radius: 50%;
  max-height: 5.6rem;
}

td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}


.tableUser {
  display: flex;
  flex-direction: row;
}

.removeUser{
  background: none;
  border: none;
  color: var(--txt-remove);
  font-weight: 700;
}

#app{
  display: flex;
  flex-direction: column;
  max-width: 112rem;
  max-height: 69rem;
  margin: auto;
  flex-wrap: wrap;
} */